
  li{
    list-style-type: none;
    
  }

 
  a{
    color: #4CAF50;
  }


  .sidebar{
    color: #4CAF50;
    background: white;
    padding: 15px;
    height: 540px;
    overflow-y:scroll ;
    border: 1px solid #ccc;
  }